[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=CokoonStyleTheme
Comment=A Cokoon Style Theme
Comment[be]=Тэма Cokoon
Comment[bg]=Тема в стил Cokoon
Comment[el]=Θέμα με στυλ Cokoon
Comment[en_GB]=A Cokoon Style Theme
Comment[es]=Tema de estilo de Cokoon
Comment[et]=Cokooni stiili teema
Comment[fi]=Cokoon-tyyliteema
Comment[fr]=Un thème au style Cokoon
Comment[ga]=Téama i Stíl Cokoon
Comment[gl]=Un tema ao estilo Cokoon
Comment[hne]=कोकून सैली प्रसंग
Comment[hu]=Egy báb stílus téma
Comment[it]=Un tema per lo stile Cokoon
Comment[ja]=Cokoon スタイルテーマ
Comment[km]=ស្បែក​រចនាប័ទ្ម​របស់ Cokoon
Comment[ko]=Cokoon 스타일 테마
Comment[nds]=En Muster in'n Cokoon-Stil
Comment[nl]=Een cokoon-themastijl
Comment[nn]=Eit kokongtema
Comment[pa]=ਕੋਕੂਨ ਸਟਾਈਲ ਥੀਮ
Comment[pt]=Um Tema do Estilo Cokoon
Comment[pt_BR]=Um tema estilo Cokoon
Comment[ro]=O temă în stil Cokoon
Comment[ru]=Тема стиля Cokoon
Comment[sv]=Ett tema med Cokoon-stil
Comment[th]=ชุดตกแต่งแบบ Cokoon
Comment[tr]=Bir Cokoon Biçimli Tema
Comment[uk]=Тема стилю Cokoon
Comment[x-test]=xxA Cokoon Style Themexx
Comment[zh_CN]=一个 Cokoon 风格主题
Comment[zh_TW]=Cokoon 樣式主題

