[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=CokoonStyleTheme
Comment=A Cokoon Style Theme
Comment[bg]=Тема Cokoon
Comment[de]=Ein Cokoon-Stilthema
Comment[nl]=Een CokoonStyle-thema
Comment[pt]=Um Tema do Estilo Cokoon
Comment[pt_BR]=Um Tema do Estilo Cokoon
Comment[sv]=Ett tema med Cokoon-stil

