[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=CokoonStyleTheme
Comment=A Cokoon Style Theme
Comment[bg]=Тема Cokoon
Comment[de]=Ein Cokoon-Stilthema
Comment[es]=Un tema de estilo de Cokoon
Comment[et]=Cokooni stiiliteema
Comment[it]=Un tema per lo stile Cokoon
Comment[nl]=Een CokoonStyle-thema
Comment[pt]=Um Tema do Estilo Cokoon
Comment[pt_BR]=Um Tema do Estilo Cokoon
Comment[sv]=Ett tema med Cokoon-stil
Comment[xx]=xxA Cokoon Style Themexx

