# KDE Desktop Entry
[Desktop Entry]
Encoding=UTF-8
Name=Smooth Blend
Name[nl]=Zachte vermenging
Name[pt]=Mistura Suave
Name[pt_BR]=Mistura Leve
X-KDE-Library=kwin3_smoothblend
