# KDE Desktop Entry
[Desktop Entry]
Encoding=UTF-8
Name=Smooth Blend
Name[cs]=Hladký přechod
Name[cy]=Cymysgedd Llyfn
Name[da]=Glat blanding
Name[el]=Ομαλή μείξη
Name[es]=Mezcla suave
Name[et]=Sujuv üleminek
Name[it]=Miscela Liscia
Name[nl]=Zachte vermenging
Name[pt]=Mistura Suave
Name[sr]=Глатки прелив
Name[tg]=Омехтакунии ҳамвор
Name[tr]=Yumuşak Harman
Name[xx]=xxSmooth Blendxx
X-KDE-Library=kwin3_smoothblend
