/* ..... page navigation ..... */

.home-arrow {
  list-style-image: url("chrome://browser/skin/icons/16/go-first.png");
}

.home-arrow[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/icons/16/go-last.png");
}

.end-arrow {
  list-style-image: url("chrome://browser/skin/icons/16/go-last.png");
}

.end-arrow[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/icons/16/go-first.png");
}

.left-arrow {
  list-style-image: url("chrome://browser/skin/icons/16/go-previous.png");
}

.left-arrow[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/icons/16/go-next.png");
}

.right-arrow {
  list-style-image: url("chrome://browser/skin/icons/16/go-next.png");
}

.right-arrow[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/icons/16/go-previous.png");
}

/* ..... orientation ..... */

.toolbar-portrait-page {
  list-style-image: url("moz-icon://stock/gtk-orientation-portrait?size=button");
}

.toolbar-landscape-page {
  list-style-image: url("moz-icon://stock/gtk-orientation-landscape?size=button");
}
