[Desktop Entry]
Name=TestTheme
Name[pt]=Tema de Testes
Name[pt_BR]=Tema de Testes
Comment=The very first CokoonDecoration theme, for testing purposes
ServiceTypes=CokoonDecorationTheme
Type=Service

