[Desktop Entry]
Name=TestTheme
Name[bg]=Тестова тема
Name[nl]=Testthema
Name[pt]=Tema de Testes
Name[pt_BR]=Tema de Testes
Name[sv]=Testtema
Comment=The very first CokoonDecoration theme, for testing purposes
Comment[bg]=Първата тема CokoonDecoration за тестване
Comment[nl]=Het allereerste CokoonDecoration-thema, voor testdoeleinden
Comment[pt]=O primeiro tema CokoonDecoration, para fins de testes
Comment[pt_BR]=O primeiro tema CokoonDecoration, para fins de testes
Comment[sv]=Det allra första Cokoon-dekorationstemat, för testsyfte
ServiceTypes=CokoonDecorationTheme
Type=Service

