[Desktop Entry]
Name=TestTheme
Name[be]=Тэставая тэма
Name[bg]=Пробна тема
Name[de]=Test-Design
Name[el]=Δοκιμαστικό θέμα
Name[es]=Tema de prueba
Name[et]=Testteema
Name[fr]=ThèmeTeste
Name[ga]=TéamaTástála
Name[hne]=जांचप्रसंग
Name[km]=ស្បែក​សាកល្បង
Name[nds]=Probeermuster
Name[nl]=Testthema
Name[nn]=TestTema
Name[pa]=ਟੈਸਟ-ਥੀਮ
Name[pt]=Tema de Teste
Name[pt_BR]=Tema de Teste
Name[ro]=TemăTest
Name[sv]=Testtema
Name[tr]=Deneme Teması
Name[uk]=Тестова тема
Name[x-test]=xxTestThemexx
Name[zh_TW]=測試主題
Comment=The very first CokoonDecoration theme, for testing purposes
Comment[be]=Самая першая тэма CokoonDecoration, для тэстаў
Comment[bg]=Първата тема с декорации Cokoon, създадена за пробни цели
Comment[el]=Το πρώτο θέμα διακόσμησης Cokoon, για δοκιμαστική χρήση
Comment[es]=El primerísimo tema de decoración de Cokoon, con propósito de pruebas
Comment[et]=Kõige esimene Cokooni dekoratsioonide teema testimiseks
Comment[fr]=Le tout premier thème CokoonDecoration, pour des besoins de test
Comment[ga]=An chéad téama CokoonDecoration, le haghaidh tástála
Comment[gl]=O primeiro tema feito con CokoonDecoration, para probas
Comment[hne]=जांच बर पहिली कोकून सजावटी प्रसंग
Comment[km]=ស្បែក CokoonDecoration ដំបូង​បំផុត​ សម្រាប់​សាកល្បង
Comment[ko]=기초적인 테스트 목적의 CokoonDecoration 테마
Comment[nds]=Allereerst Muster mit Cokoon-Dekoratschoon, testwies
Comment[nl]=Het allereerste Cokoon-decoratiethema voor testdoeleinden
Comment[nn]=Det første kokongpynt-temaet, til testing
Comment[pt]=O primeiro tema de decoração do CokoonStyle, para fins de teste
Comment[pt_BR]=O primeiro tema CokoonDecoration, para fins de teste
Comment[ro]=Prima temă CokoonDecoration, cu scop de testare.
Comment[sv]=Det allra första Cokoon-dekorationstemat, för testsyfte
Comment[th]=ชุดตกแต่ง CokoonDecoration สำหรับการทดสอบ
Comment[tr]=Çok yeni bir Cokoon Dekorasyon teması, deneme amaçlı
Comment[uk]=Найперша тема CokoonDecoration для тестування
Comment[x-test]=xxThe very first CokoonDecoration theme, for testing purposesxx
Comment[zh_CN]=一个非常初始的 Cokoon 装饰主题，用于测试目的
Comment[zh_TW]=很陽春的 Cokoon 裝飾主題，測試用的
ServiceTypes=CokoonDecorationTheme
Type=Service

