
/* Toolbar */
#placesToolbar {
  border: none;
}

/* back button */

#back-button {
  list-style-image: url("chrome://browser/skin/icons/24/go-previous.png");
}
#back-button[disabled="true"] {
  list-style-image: url("chrome://browser/skin/icons/disabled/24/go-previous.png");
}

#back-button[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/icons/24/go-next.png");
}
#back-button[disabled="true"][chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/icons/disabled/24/go-next.png");
}

/* forward button */

#forward-button {
  list-style-image: url("chrome://browser/skin/icons/24/go-next.png");
}
#forward-button[disabled="true"] {
  list-style-image: url("chrome://browser/skin/icons/disabled/24/go-next.png");
}

#forward-button[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/icons/24/go-previous.png");
}
#forward-button[disabled="true"][chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/icons/disabled/24/go-previous.png");
}

/* Menu */
#placesMenu {
  -moz-appearance: none;
  border: none;
}

#placesMenu > menu {
  -moz-padding-start: 4px;
  -moz-binding: url("chrome://browser/skin/places/organizer.xml#toolbarbutton-dropdown");
  -moz-appearance: toolbarbutton;
  color: -moz-DialogText;
}

#placesMenu > menu:hover:not(:active):not([open="true"]) {
  color: -moz-buttonhovertext;
}

#placesMenu > menu > .menubar-right {
  -moz-appearance: toolbarbutton-dropdown;
  width: 12px;
  height: 12px;
}

/* Root View */
#placesView {
  background-color: Window;
}

/* Place List, Place Content */
.placesTree {
  margin: 0px;
}

#placesList {
  margin: 0px;
  border: none;
  padding: 0;
}

#placeContent {
  border: 0px;
}

#infoPaneBox {
  padding: 5px;
}

.small, .small[disabled="true"] {
  min-width: 0px;
  padding: 0px 4px 0px 4px;
  margin: 0px;  
  border: 0px;
}

.small .button-text,
.small .button-box {
  padding: 0px;
  border: 0px;
}


#infoBoxExpanderLabel {
  -moz-padding-start: 2px;
}

#searchModifiers {
  padding-right: 3px;
}

#saveSearch {
  list-style-image: url("chrome://browser/skin/icons/16/document-save.png");
}

/**** menuitem stock icons ****/
#orgClose {
  list-style-image: url("chrome://browser/skin/icons/16/dialog-close.png");
}

#fileImport {
  list-style-image: url("chrome://browser/skin/icons/16/document-revert.png");
}

#fileExport {
  list-style-image: url("chrome://browser/skin/icons/16/document-export.png");
}
