[Desktop Entry]
Encoding=UTF-8
Name=SUSE2
Name[ar]=سوزي SUSE2
Name[be]=SUSE2
Name[bg]=SUSE2
Name[cs]=SUSE2
Name[de]=SUSE2
Name[el]=SUSE2
Name[en_GB]=SUSE2
Name[es]=SUSE2
Name[et]=SUSE2
Name[fr]=SUSE2
Name[ga]=SUSE2
Name[gl]=SUSE2
Name[hne]=सूसे२
Name[ja]=SUSE2
Name[km]=ស៊ូស៊ី ២
Name[ko]=SUSE2
Name[nds]=SUSE2
Name[nl]=SUSE2
Name[nn]=SUSE2
Name[pa]=SUSE2
Name[pt]=SUSE2
Name[pt_BR]=SUSE2
Name[ro]=SUSE2
Name[sv]=SUSE2
Name[th]=SUSE2
Name[tr]=SUSE2
Name[uk]=SUSE2
Name[x-test]=xxSUSE2xx
Name[zh_CN]=SUSE2
Name[zh_TW]=SUSE2
X-KDE-Library=kwin3_SUSE2
