[Desktop Entry]
Name=TestTheme
Comment=The very first CokoonStyle theme, for testing purposes
ServiceTypes=CokoonStyleTheme
Type=Service
X-KDE-Library=plugindemo_capitalize

