[Desktop Entry]
Name=TestTheme
Name[be]=Тэставая тэма
Name[bg]=Пробна тема
Name[de]=Test-Design
Name[el]=Δοκιμαστικό θέμα
Name[en_GB]=TestTheme
Name[es]=Tema de prueba
Name[et]=Testteema
Name[fi]=Testiteema
Name[fr]=ThèmeTeste
Name[ga]=TéamaTástála
Name[gl]=TestTheme
Name[hne]=जांचप्रसंग
Name[hu]=TesztTéma
Name[it]=Tema di prova
Name[km]=ស្បែក​សាកល្បង
Name[ko]=TestTheme
Name[nds]=Probeermuster
Name[nl]=Testthema
Name[nn]=TestTema
Name[pa]=ਟੈਸਟ-ਥੀਮ
Name[pt]=Tema de Teste
Name[pt_BR]=Tema de teste
Name[ro]=TemăTest
Name[sv]=Testtema
Name[th]=TestTheme
Name[tr]=Deneme Teması
Name[uk]=Тестова тема
Name[x-test]=xxTestThemexx
Name[zh_CN]=TestTheme
Name[zh_TW]=測試主題
Comment=The very first CokoonStyle theme, for testing purposes
Comment[be]=Самая першая тэма CokoonStyle, для тэстаў
Comment[bg]=Първата тема Cokoon, създадена за пробни цели
Comment[el]=Το πρώτο θέμα διακόσμησης Cokoon, για δοκιμαστική χρήση
Comment[en_GB]=The very first CokoonStyle theme, for testing purposes
Comment[es]=El primerísimo tema de estilo de Cokoon, con propósito de pruebas
Comment[et]=Kõige esimene Cokooni stiili teema testimiseks
Comment[fi]=Aivan ensimmäinen Cokoon-tyyliteema (testaustarkoituksiin)
Comment[fr]=Le tout premier thème CokoonDecoration, pour des besoins de test
Comment[ga]=An chéad téama CokoonStyle, le haghaidh tástála
Comment[gl]=O primeiro tema feito con CokoonStyle, para probas
Comment[hne]=जांच बर पहला कोकूनसैली प्रसंग
Comment[hu]=A legelső BábStílus téma, tesztelési célokra
Comment[it]=Il primo vero tema Cokoon per lo stile, per motivi di prova
Comment[km]=ស្បែក CokoonStyle ដំបូង​បំផុត​ សម្រាប់​សាកល្បង
Comment[ko]=기초적인 테스트 목적의 CokoonStyle 테마
Comment[nds]=Allereerst Muster in'n Cokoon-Stil, testwies
Comment[nl]=De allereerste Cokoon-themastijl voor testdoeleinden
Comment[nn]=Det første kokongstil-temaet, til testing
Comment[pt]=O primeiro tema do CokoonStyle, para fins de teste
Comment[pt_BR]=O primeiro tema CokoonStyle, para fins de teste
Comment[ro]=Prima temă CokoonStyle, cu scop de testare.
Comment[sv]=Det allra första temat med Cokoon-stil, för testsyfte
Comment[th]=ชุดตกแต่ง CokoonStyle สำหรับทดสอบ
Comment[tr]=Çok yeni bir Cokoon Biçim teması, deneme amaçlı
Comment[uk]=Найперша тема стилю Cokoon для тестування
Comment[x-test]=xxThe very first CokoonStyle theme, for testing purposesxx
Comment[zh_CN]=一个非常初始的 Cokoon 风格主题，用于测试目的
Comment[zh_TW]=很陽春的 Cokoon 樣式主題，測試用的
ServiceTypes=CokoonStyleTheme
Type=Service
X-KDE-Library=plugindemo_capitalize

