[Desktop Entry]
Name=TestTheme
Name[pt]=Tema de Testes
Name[pt_BR]=Tema de Testes
Comment=The very first CokoonStyle theme, for testing purposes
Comment[pt]=O primeiro tema CokoonStyle, para fins de testes
Comment[pt_BR]=O primeiro tema CokoonStyle, para fins de testes
ServiceTypes=CokoonStyleTheme
Type=Service
X-KDE-Library=plugindemo_capitalize

