[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=CokoonDecorationTheme
Comment=A Cokoon KWin Decoration Theme
Comment[bg]=Тема Cokoon
Comment[pt]=Um Tema do de Decoração do KWin do Estilo Cokoon
Comment[pt_BR]=Um Tema do de Decoração do KWin do Estilo Cokoon
Comment[sv]=Ett Cokoon-dekorationstema för Kwin
