[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=CokoonDecorationTheme
Comment=A Cokoon KWin Decoration Theme
Comment[be]=Тэма дэкарацый KWin Cokoon
Comment[el]=Ένα θέμα διακόσμησης του KWin
Comment[es]=Un tema de decoración de KWin de Cokoon
Comment[et]=Cokooni KWini dekoratsioonide teema
Comment[fr]=Un thème graphique Cokoon pour KWin
Comment[ga]=Téama Maisiúcháin KWin Cokoon
Comment[gl]=Un tema de decoración de KWin usando Cokoon
Comment[ja]=Cokoon KWin 装飾テーマ
Comment[km]=ស្បែក​តុបតេង​របស់ Cokoon KWin
Comment[ko]=Cokoon KWin 장식 테마
Comment[nn]=Eit kokongtema til pynting av KWin
Comment[pt]=Um Tema de Decoração do Estilo Cokoon
Comment[pt_BR]=Um Tema de Decoração Kwin Cokoon
Comment[ro]=O temă decorativă KWin Cokoon
Comment[sv]=Ett Cokoon-dekorationstema för Kwin
Comment[tr]=Bir Cokoon KWin Dekorasyonu Teması
Comment[uk]=Тема декорації KWin Cokoon
Comment[x-test]=xxA Cokoon KWin Decoration Themexx
Comment[zh_CN]=一个 Cokoon KWin 装饰主题
Comment[zh_TW]=Cokoon KWin 裝飾主題
