[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Cokoon Theme
Name[bg]=Тема Cokoon
Name[br]=Giz Cokoon
Name[da]=Cokoon-tema
Name[de]=Cokoon-Design
Name[el]=Θέμα Cokoon
Name[es]=Tema Cokoon
Name[et]=Cokooni teema
Name[ga]=Téama Cokoon
Name[gl]=Tema Cokoon
Name[it]=Tema Cokoon
Name[nl]=Cokoon-thema
Name[pt]=Tema Cokoon
Name[sk]=Cokoon téma
Name[sv]=Cokoon-tema
Name[tg]=Мавзӯъи Кокун
Name[tr]=Cokoon Teması
Name[uk]=Тема Cokoon
Name[vi]=Sắc thái làm kén
Name[xx]=xxCokoon Themexx
X-KDE-Library=kwin3_cokoon
