[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Cokoon Theme
Name[ar]=أسلوب الشرنقة
Name[be]=Тэма Cokoon
Name[bg]=Тема Cokoon
Name[de]=Cokoon-Design
Name[el]=Θέμα Cokoon
Name[es]=Tema de Cokoon
Name[et]=Cokooni teema
Name[fr]=Thème Cokoon
Name[ga]=Téama Cokoon
Name[gl]=Tema de Cokooon
Name[ja]=Cokoon テーマ
Name[km]=ស្បែក Cokoon
Name[ko]=Cokoon 테마
Name[nds]=Cokoon-Muster
Name[nn]=Kokongtema
Name[pa]=ਕੋਕੂਨ ਥੀਮ
Name[pt]=Tema Cokoon
Name[pt_BR]=Tema Cokoon
Name[ro]=Tema Cokoon
Name[sv]=Cokoon-tema
Name[tr]=Cokoon Teması
Name[uk]=Тема Cokoon
Name[x-test]=xxCokoon Themexx
Name[zh_CN]=Cokoon 主题
Name[zh_TW]=Cokoon 主題
X-KDE-Library=kwin3_cokoon
