[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=CokoonDecorationTheme
Comment=A Cokoon KWin Decoration Theme
Comment[bg]=Тема Cokoon
Comment[de]=Ein Cokoon-KWin-Fensterdekorations-Thema
Comment[es]=Un tema de decoración para Cokoon
Comment[et]=Cokooni KWin dekoratsiooniteema
Comment[it]=Un tema di decorazioni di KWin Cokoon
Comment[pt]=Um Tema do de Decoração do KWin do Estilo Cokoon
Comment[pt_BR]=Um Tema do de Decoração do KWin do Estilo Cokoon
Comment[sv]=Ett Cokoon-dekorationstema för Kwin
Comment[xx]=xxA Cokoon KWin Decoration Themexx
