[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Cokoon Theme
Name[bg]=Тема Cokoon
Name[da]=Cokoon-tema
Name[de]=Cokoon-Design
Name[es]=Tema Cokoon
Name[ga]=Téama Cokoon
Name[gl]=Tema Cokoon
Name[it]=Tema Cokoon
Name[nl]=Cokoon-thema
Name[pt]=Tema Cokoon
Name[sv]=Cokoon-tema
X-KDE-Library=kwin3_cokoon
