# KDE Desktop Entry
[Desktop Entry]
Encoding=UTF-8
Name=Oxygen
Name[da]=Minimalistisk
Name[pt]=Minimalista
Name[pt_BR]=Minimalista
X-KDE-Library=kwin3_oxy